
{% extends 'user_base.html' %}
{% block content1 %}
{% if uss %}
<li style="float:left"><a href="{% url 'user' %}"  ><font color="white" >{{ user }}</font></a></li>
<li style="float:left"><a href="{% url 'book_app' %}"  ><font color="white">Appointment</font></a></li>
<li style="float:left"><a href="{% url 'user_edit' %}"  ><font color="white">Edit Details</font></a></li>
<li style="float:left"><a href="{% url 'logout' %}"  ><font color="white">Logout</font></a></li>
{% else %}
<li style="float:left"><a href="{% url 'home' %}"  ><font color="white" >Home</font></a></li>
<li style="float:left"><a href="{% url 'register' %}"  ><font color="white">Register</font></a></li>
<li style="float:left"><a href="{% url 'signin' %}"  ><font color="white">Login</font></a></li>
{% endif %}
<li style="float:left"> <a href="{% url 'about' %}"  ><font color="white">About</font></a> </li>
<li style="float:left"><a href="{% url 'contact' %}"  ><font color="white">Contact</font></a></li>
{% endblock content1 %}
{% block content %}
<br/>
<br/>
    <font size='4px' color="white">
        <table align="center" cellpadding="5px" cellspacing="5px">
            <tr><td>Name</td><td>:</td> <td>Vinay Kumar Devarapalli</td></tr>
            <tr><td>Email</td><td>:</td> <td>vinaykumar.devarapalli@gmail.com</td></tr>
            <tr><td>Mobile</td><td>:</td> <td>9533404249</td></tr>            
            <tr><td>Address</td><td>:</td> <td>Mummidivaram, Andhra Pradesh</td></tr>
            
        </table>
    </font>


{% endblock %}