{% extends 'base.html' %}
<!--<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ title }}
        </title>
    </head>
    <body bgcolor="#0B0C10">
    
        <br/>
    -->

{% block content %}
        <center><h1 style="font-size:8vw;"><b><font color="green">Welcome</font></b></h1></center>
        <p align="center"><font color="white" size="5">Welcome to the My website... <br/>This is a sample website to test Django!! <br/>Have a Nice day</font></p>
{% endblock content %}


				


