{% extends "base.html" %}
{% block content %}
{% if not regd %}
		<form action="{% url 'register' %}" method="POST" align="center"> {% csrf_token %}
			<table border="1" bgcolor="#1F2833" align="center"> <tr><td>
				<table cellpadding="15" cellspacing="10">
					{% for f in form %}
					<tr><td><font color="#C5C6C7" size="4px">{{ f.label|capfirst }}</font></td><td> {{ f }}</td></tr>
					{% endfor %}
					<tr><td><a href="{% url 'signin' %}"><b>Login</b></a></td><td><center><input type="submit" value="Register"></center></td></tr>
					
				</table>
				</td></tr>
			</table>
			
		</form>
	{% endif %}
		<center><font size="5" color="green">{{ val }}</font></center>

		{% endblock content %}